.services{
    &__container{
        padding-top: 100px;
    }

    &__title{
        padding-bottom: 10px;
        text-align: center;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 42px; 
        color: #404040;
    }

    &__text{
        width: 1312px;
        height: 64px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #404040;
    }

    &__list{
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__desc{
        padding: 20px 0 8px 0;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #404040;
    }

    &__pararaph{
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #404040;
    }

    &__link{
        padding-top: 9px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #119FC3;
    }

    &__line{
        margin: 100px 0;
        width: 1312px;
        height: 0;
        border: 1px solid #DCDCDC;
    }
}